$align: left;
$bg-color: #000;
$color-01: #fff;
$color-02: #d1d1d1;
$color-03: #6f0404;
$color-04: #353535;
$color-05:#c30e0e;
$color-06:#390303;
$color-default: #F5F5F5;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 2rem;
$padding-big: 3rem;
$tablet: 999px;
$mobile:425px;